:root {
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --accent-color: rgb(31, 242, 209);
    --accent-color-hover: rgb(28, 218, 188);
    --accent-color-light: rgba(31, 242, 209, 0.2);
    --accent-color-dark: rgb(25, 194, 167);
}
#drop-zone {
    border: 2px dashed var(--accent-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#drop-zone:hover {
    background-color: rgba(31, 242, 209, 0.1);
}

#edit-drop-zone {
    border: 2px dashed var(--accent-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-drop-zone:hover {
    background-color: rgba(31, 242, 209, 0.1);
}
.drop-zone.highlight {
    border-color: var(--accent-color-hover);
    background-color: rgba(67, 181, 130, 0.301);
}
#editMessageForm {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editMessageForm input,
#editMessageForm textarea {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

#editMessageForm button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#editMessageForm button:hover {
    background-color: #0056b3;
}