<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="navigation">
        <a href="profile.html">profil</a>
        <a href="main.html">główna</a>
        <a href="ai.html">AI</a>
        <a href="search.html">wyszukaj urzytkownika</a>
        <a href="private.html">prywatne</a>
        <a href="{{ url_for('logout') }}">Wyloguj się</a>
    </div>
    <div>
        <!--<a href="glowna">główna</a>-->
        <a href="obesrwowane">obesrwowane</a>
        <a href="spolecznosci">społeczności</a>
    </div>
    <h1>User Profile</h1>
    <p>Witaj, {{ user.nick }}!</p>
    <ul>
        <li>Roles: 
            <ul>
                {% for role in user.roles %}
                    <li>{{ role.name }} ({{ role.description }})</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <form id="post-form" enctype="multipart/form-data">
        <textarea name="text" placeholder="Co słychać?"></textarea>
        <div class="attachments-container">
            <label for="files">Załączniki:</label>
            <input type="file" id="files" name="files" multiple accept="*">
            <div id="attachments-preview"></div>
        </div>
        <label>
            <input type="checkbox" name="is_private"> Prywatny post
            <input type="checkbox" name="no_comments"> brak komentarzy
        </label>
        <button type="submit">Wyślij</button>
    </form>

    <div id="posts">
        <p>POSTY</p>
        {% for post in posts %}
        {% if current_user.is_following(post.user_id) %}
            <div class="post post-clickable" data-post-id="{{ post.id }}">
                <a href="{{ url_for('user_profile', user_id=post.author.id) }}">
                <div class="post-header">
                    {% if post.author.zdjecie_wskaznik == "basics/profile.png" %}
                        <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
                    {% elif post.author.zdjecie_wskaznik %}
                        <img src="{{ url_for('static', filename='uploads/' + post.author.zdjecie_wskaznik) }}" alt="{{ post.author.nick }}'s profile picture" class="profile-picture">
                    {% endif %}
                    <p class="author-name">{{ post.author.nick }}</p>
                </a>
                    {% if post.author.nick == current_user.nick or current_user.has_role('admin'):%}
                        <div class="options-public-post">
                            <button class="remove-post" data-post-id="{{ post.id }}" value="USUN">USUN</button>
                            <button class="edit-post" data-post-id="{{ post.id }}" value="ZMIEN">ZMIEN</button>
                        </div>
                    {% endif %}
                </div>
                <p class="post-content">{{ post.text }}</p>
                <div class="attachments">
                    {% for attachment in post.post_attachments %}
                        {% if attachment.file_type.startswith('image/') %}
                            {% set image_path = 'uploads/' + attachment.file_name %}
                            <img src="{{ url_for('static', filename=image_path) }}" alt="{{ attachment.file_name }}" data-id="{{ attachment.id }}">
                        {% elif attachment.file_type.startswith('video/') %}
                            {% set video_path = 'uploads/' + attachment.file_name %}
                            <video controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=video_path) }}" type="{{ attachment.file_type }}">
                            </video>
                        {% elif attachment.file_type.startswith('audio/') %}
                            {% set audio_path = 'uploads/' + attachment.file_name %}
                            <audio controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=audio_path) }}" type="{{ attachment.file_type }}">
                            </audio>
                        {% else %}
                            <p>
                                <a href="{{ url_for('download_file', attachment_id=attachment.id) }}">Pobierz {{ attachment.original_filename }}</a> 
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tags">
                    <p>Tagi:</p>
                    {% for tag in post.get_tags() %}
                        <p class="tag">{{ tag }}</p>
                    {% endfor %}
                </div>
                <div class="reactions">
                    {% for reaction_type, emoji in [
                        ('like', '👍'), 
                        ('love', '❤️'), 
                        ('haha', '😂'), 
                        ('wow', '😮'), 
                        ('sad', '😢')
                    ] %}
                        <button class="reaction-btn" data-post-id="{{ post.id }}" data-reaction-type="{{ reaction_type }}">
                            {{ emoji }} <span class="reaction-count" id="count-{{ post.id }}-{{ reaction_type }}">0</span>
                        </button>
                    {% endfor %}
                </div>
                <div class="edited_post_comment">
                    {% if post.is_edited %}
                    Edytowany o {{ post.edited_at.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% endif %}
                </div>
                {% if not post.comments_allowed %}
                <button class="toggle-comments" data-post-id="{{ post.id }}">Komentarze ({{ post.comments|length }})</button>
                {% endif %}
                <div class="comments" id="comments-{{ post.id }}" style="display: none;">
                    <form class="comment-form" data-post-id="{{ post.id }}">
                        <textarea name="comment-text" required></textarea>
                        <button type="submit">Dodaj komentarz</button>
                    </form>
                    {% for comment in post.post_comments %}
                    <div class="comment">
                        <div class="comment-header">
                            {% if comment.user.zdjecie_wskaznik == "basics/profile.png" %}
                            <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
                            {% else %}
                            <img src="{{ url_for('static', filename='uploads/' + comment.user.zdjecie_wskaznik) }}" alt="{{ comment.user.nick }}'s profile picture" class="profile-picture">
                            {% endif %}
                            <p class="author-name">{{ comment.user.nick }}</p>
                        </div>
                        <p class="comment-content">{{ comment.text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% endfor %}

        <div class="overlay" id="overlay"></div>
    <div class="edit-form" id="editForm">
        <h2>Edytuj post</h2>
        <textarea id="editContent" rows="4" cols="50"></textarea>
        <div class="editattachments">
            <label for="editFiles">Załączniki:</label>
            <div id="existingAttachments">
            </div>
            <input type="file" id="editFiles" multiple accept="*">
        </div>
        <button id="saveEdit">Zapisz</button>
        <button id="cancelEdit">Anuluj</button>
    </div>
    </div>
    


    <script src="{{ url_for('static', filename='js/send.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit-del.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const commentForms = document.querySelectorAll('.comment-form');
            
            commentForms.forEach(form => {
                form.addEventListener('submit', function(e) {
                    e.preventDefault();
                    
                    const postId = this.getAttribute('data-post-id');
                    const commentText = this.querySelector('textarea[name="comment-text"]').value;
                    
                    fetch(`/add_comment/${postId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `comment-text=${encodeURIComponent(commentText)}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "OK") {
                            const toggleButton = document.querySelector(`.toggle-comments[data-post-id="${postId}"]`);
                            const currentCount = parseInt(toggleButton.textContent.match(/\d+/)[0]);
                            toggleButton.textContent = `Komentarze (${currentCount + 1})`;
                            
                            this.querySelector('textarea[name="comment-text"]').value = '';
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Wystąpił błąd podczas dodawania komentarza.');
                    });
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const reactionButtons = document.querySelectorAll('.reaction-btn');
        
            reactionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const postId = this.dataset.postId;
                    const reactionType = this.dataset.reactionType;
        
                    fetch(`/add_reaction/${postId}/${reactionType}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        updateReactionCounts(postId);
                    });
                });
            });
        
            function updateReactionCounts(postId) {
                fetch(`/get_reactions/${postId}`)
                .then(response => response.json())
                .then(data => {
                    for (const [reactionType, count] of Object.entries(data)) {
                        const countElement = document.getElementById(`count-${postId}-${reactionType}`);
                        if (countElement) {
                            countElement.textContent = count;
                        }
                    }
                });
            }
        
            document.querySelectorAll('.post').forEach(post => {
                const postId = post.querySelector('.reaction-btn').dataset.postId;
                updateReactionCounts(postId);
            });
        });
        </script>
<script src="{{ url_for('static', filename='js/post-przycisk.js') }}"></script>
<script src="{{ url_for('static', filename='js/hide-show-comments.js') }}"></script>
</body>
</html> 