<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="styles.css">
    <script src="main.js" defer></script>
    <script src="ripple.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="main">
    <div id="content">
        <br>
        <div class="div_center kolor1 wygladzony25">
            <div class="flex-container">
                <div class="columnasmall">
                    <a href="/register.html" class="nav-link"><button class="przycisk_niebieski" id="register">register</button></a>
                </div>
                <div class="columna">
                    <h1 class="tekst-gluwny text_center">Dzikie węże : SnakeLine </h1>
                </div>
                <div class="columnasmall">
                    <a href="/login.html" class="nav-link"><button class="przycisk_niebieski" id="login">login</button></a>
                </div>
            </div>
        </div>   
        <br> 
        <div class="info wygladzony25 kolor2 ">
            <div class="oddziel tekst">
                <h1 style="text-align: center" id="text"></h1>
            </div>
            <div class="div_center">
                <img class="obraz" src="/logo1.png">
            </div>
            <div class="oddziel1 tekst">
                <div style="text-align: center; font-size: 18px;">
                    <p>Wild Snakes Messenger to nowoczesna aplikacja komunikacyjna, inspirowana prostotą i skutecznością platform takich jak Twitter.</p>
                    <p>Projekt łączy dynamiczne funkcje z eleganckim designem, oferując użytkownikom intuicyjną obsługę i wiele możliwości.</p>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="text-container">
                            <span class="short-text">Logowanie i Personalizacja</span>
                            <br>
                            <img class="styl" src="/user.png">
                            <span class="full-text">Prosta rejestracja i możliwość dodania opisu i obrazka do swojego profilu, pozwoli lepiej wyrazić siebie.</span>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="text-container">
                            <span class="short-text">Wiadomości Publiczne i Prywatne</span>
                            <br>
                            <img class="styl" src="/message.png">
                            <span class="full-text">SnakeLine pozwoli ci wysyłać wiadomości z opcją dodawania plików oraz obrazów.</span>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="text-container">
                            <span class="short-text">Komentarze pod Publicznymi Postami</span>
                            <br>
                            <img class="styl" src="/comment.png">
                            <span class="full-text">Dyskutuj, wyrażaj opinię i angażuj się w rozmowy w ramach społeczności.</span>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="text-container">
                            <span class="short-text">Integracja ze Sztuczną Inteligencją</span>
                            <br>
                            <img class="styl" src="/brain.png">
                            <span class="full-text">Funkcje AI urzywając Qwen2.5b 3b oraz 7b dla inteligentnego podsumowywania postów oraz opini komentarzy, generowania treści</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>