<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mian.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nick }}'s Profile</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let alerts = document.querySelectorAll('.flash-message');
            
            alerts.forEach(alert => {
                setTimeout(() => {
                    alert.classList.add('fade-out');
                    
                    alert.addEventListener('animationend', () => {
                        alert.remove();
                    });
                }, 3000);
            });
        });
    </script>
    <div class="navigation">
        <a href="{{ url_for('profile') }}">profil</a>
        <a href="{{ url_for('main') }}">główna</a>
        <a href="ai.html">AI</a>
        <a href="{{ url_for('search') }}">wyszukaj urzytkownika</a>
        <a href="{{ url_for('private') }}">prywatne</a>
        <a href="{{ url_for('logout') }}">Wyloguj się</a>
    </div>

    <h1>Profil {{ user.nick }}</h1>
    

    <div class="user-info">
        <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Profile picture" class="profile-picture">
        <a href="{{ url_for('download_avatar', user_id=user.id) }}" class="btn download-avatar-btn" style="display: none;">Pobierz avatar</a>
        <p>Nick: <span id="user-nick">{{ user.nick }}</span></p>
        <p>Opis: <span id="user-description">{{ user.opis }}</span></p>
    </div>
    
    {% if current_user.id != user.id %}
        <div class="user-actions">
            <form action="{{ url_for('follow_user', user_id=user.id) }}" method="POST">
                <button type="submit" class="btn action-btn follow-btn">
                    {% if current_user.is_following(user) %}
                        Przestań obserwować
                    {% else %}
                        Obserwuj
                    {% endif %}
                </button>
            </form>
            <form action="{{ url_for('add_friend', user_id=user.id) }}" method="POST">
                <button type="submit" class="btn action-btn friend-btn">
                    {% if current_user.is_friend(user) %}
                        Usuń z przyjaciół
                    {% else %}
                        Dodaj do przyjaciół
                    {% endif %}
                </button>
            </form>
        </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function fetchUserInfo() {
        const userId = {{ user.id }};  
        fetch(`/get_user_info/${userId}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            $('#user-nick').text(data.nick);
            $('#user-description').text(data.opis);
            const userImage = $('.profile-picture');
            const currentSrc = userImage.attr('src');
            let newSrc;

            if (data.zdjecie_wskaznik !== "basics/profile.png") {
                newSrc = `{{ url_for('static', filename='uploads/') }}${data.zdjecie_wskaznik}?v=${data.zdjecie_version}`;
            } else {
                newSrc = "{{ url_for('static', filename='basics/profile.png') }}";
            }

            if (currentSrc !== newSrc) {
                console.log("Updating user image");
                userImage.attr('src', newSrc);
                userImage.attr('data-version', data.zdjecie_version);
            }

            $('h1').text(`Profil ${data.nick}`);

            const downloadAvatarBtn = $('.download-avatar-btn');
            if (data.zdjecie_wskaznik && data.zdjecie_wskaznik !== "basics/profile.png") {
                downloadAvatarBtn.show();
            } else {
                downloadAvatarBtn.hide();
            }
        })
        .catch(error => console.error('Error fetching user info:', error));
    }

    $(document).ready(function() {
        fetchUserInfo();
        setInterval(fetchUserInfo, 1000);
    });
</script>
    <h1 class="welcome-header">posty od {{ user.nick }} (trzeba odświerzyc żeby zobaczyć zmiany)</h1>
    <div id="posts">
        {% for post in posts %}
            <div class="post" style="margin-left:10%;margin-right:10%">
                <div class="post-header">
                    {% if post.author.zdjecie_wskaznik == "basics/profile.png" %}
                        <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
                    {% elif post.author.zdjecie_wskaznik %}
                        <img src="{{ url_for('static', filename='uploads/' + post.author.zdjecie_wskaznik) }}" alt="{{ post.author.nick }}'s profile picture" class="profile-picture">
                    {% endif %}
                    <span class="post-author">{{ post.author.nick }}</span>
                </div>
                <p class="post-content">{{ post.text }}</p>
                <div class="attachments">
                    {% for attachment in post.post_attachments %}
                        {% if attachment.file_type.startswith('image/') %}
                            {% set image_path = 'uploads/' + attachment.file_name %}
                            <img src="{{ url_for('static', filename=image_path) }}" alt="{{ attachment.file_name }}" data-id="{{ attachment.id }}">
                        {% elif attachment.file_type.startswith('video/') %}
                            {% set video_path = 'uploads/' + attachment.file_name %}
                            <video controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=video_path) }}" type="{{ attachment.file_type }}">
                            </video>
                        {% elif attachment.file_type.startswith('audio/') %}
                            {% set audio_path = 'uploads/' + attachment.file_name %}
                            <audio controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=audio_path) }}" type="{{ attachment.file_type }}">
                            </audio>
                        {% else %}
                            <p>
                                <a href="{{ url_for('download_file', attachment_id=attachment.id) }}">Pobierz {{ attachment.original_filename }}</a> 
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="post-date">Posted on: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <div class="reactions">
                    {% for reaction_type, emoji in [
                        ('like', '👍'), 
                        ('love', '❤️'), 
                        ('haha', '😂'), 
                        ('wow', '😮'), 
                        ('sad', '😢')
                    ] %}
                        <button class="reaction-btn" data-post-id="{{ post.id }}" data-reaction-type="{{ reaction_type }}">
                            {{ emoji }} <span class="reaction-count" id="count-{{ post.id }}-{{ reaction_type }}">0</span>
                        </button>
                    {% endfor %}
                </div>
                <div class="edited_post_comment">
                    {% if post.is_edited %}
                    Edytowany o {{ post.edited_at | add_hours(1)  }}
                    {% endif %}
                </div>
                {% if not post.comments_allowed %}
                    <p style="color: red;" >Ta część jest statyczna i tutaj nie można dodawać komentarzy tak samo nie można zmieniać żeyb obserowawać zmiany należy odświerzyć</p>
                    {% else %}
                    <p style="color: red;" >Komentarze niedozwolone</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/hide-show-comments.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const reactionButtons = document.querySelectorAll('.reaction-btn');
        
            reactionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const postId = this.dataset.postId;
                    const reactionType = this.dataset.reactionType;
        
                    fetch(`/add_reaction/${postId}/${reactionType}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        updateReactionCounts(postId);
                    });
                });
            });
        
            function updateReactionCounts(postId) {
                fetch(`/get_reactions/${postId}`)
                .then(response => response.json())
                .then(data => {
                    for (const [reactionType, count] of Object.entries(data)) {
                        const countElement = document.getElementById(`count-${postId}-${reactionType}`);
                        if (countElement) {
                            countElement.textContent = count;
                        }
                    }
                });
            }
        
            document.querySelectorAll('.post').forEach(post => {
                const postId = post.querySelector('.reaction-btn').dataset.postId;
                updateReactionCounts(postId);
            });
        });
        </script>
</body>
</html>