<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nick }}'s Profile</title>
</head>
<body>
    <div class="navigation">
        <a href="{{ url_for('profile') }}">profil</a>
        <a href="{{ url_for('main') }}">główna</a>
        <a href="ai.html">AI</a>
        <a href="private.html">prywatne</a>
        <a href="{{ url_for('logout') }}">Wyloguj się</a>
    </div>

    <h1>Profil {{ user.nick }}</h1>
    
    <div class="user-info">
        {% if user.zdjecie_wskaznik == "basics/profile.png" %}
            <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
        {% elif user.zdjecie_wskaznik %}
            <img src="{{ url_for('static', filename='uploads/' + user.zdjecie_wskaznik) }}" alt="{{ user.nick }}'s profile picture" class="profile-picture">
        {% endif %}
        {% if user.zdjecie_wskaznik and user.zdjecie_wskaznik != "static/basics/profile.png" %}
            <a href="{{ url_for('download_avatar', user_id=user.id) }}" class="download-avatar-btn">Pobierz avatar</a>
        {% endif %}
        <p>Nick: {{ user.nick }}</p>
        <p>Opis: {{ user.opis }}</p>
    </div>

    <h2>posty od {{ user.nick }}</h2>
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    {% if post.author.zdjecie_wskaznik == "basics/profile.png" %}
                        <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
                    {% elif post.author.zdjecie_wskaznik %}
                        <img src="{{ url_for('static', filename='uploads/' + post.author.zdjecie_wskaznik) }}" alt="{{ post.author.nick }}'s profile picture" class="profile-picture">
                    {% endif %}
                    <span class="post-author">{{ post.author.nick }}</span>
                </div>
                <p class="post-content">{{ post.text }}</p>
                <div class="attachments">
                    {% for attachment in post.post_attachments %}
                        {% if attachment.file_type.startswith('image/') %}
                            {% set image_path = 'uploads/' + attachment.file_name %}
                            <img src="{{ url_for('static', filename=image_path) }}" alt="{{ attachment.file_name }}" data-id="{{ attachment.id }}">
                        {% elif attachment.file_type.startswith('video/') %}
                            {% set video_path = 'uploads/' + attachment.file_name %}
                            <video controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=video_path) }}" type="{{ attachment.file_type }}">
                            </video>
                        {% elif attachment.file_type.startswith('audio/') %}
                            {% set audio_path = 'uploads/' + attachment.file_name %}
                            <audio controls data-id="{{ attachment.id }}">
                                <source src="{{ url_for('static', filename=audio_path) }}" type="{{ attachment.file_type }}">
                            </audio>
                        {% else %}
                            <p>
                                <a href="{{ url_for('download_file', attachment_id=attachment.id) }}">Pobierz {{ attachment.original_filename }}</a> 
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="post-date">Posted on: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <div class="reactions">
                    {% for reaction_type, emoji in [
                        ('like', '👍'), 
                        ('love', '❤️'), 
                        ('haha', '😂'), 
                        ('wow', '😮'), 
                        ('sad', '😢')
                    ] %}
                        <button class="reaction-btn" data-post-id="{{ post.id }}" data-reaction-type="{{ reaction_type }}">
                            {{ emoji }} <span class="reaction-count" id="count-{{ post.id }}-{{ reaction_type }}">0</span>
                        </button>
                    {% endfor %}
                </div>
                <div class="edited_post_comment">
                    {% if post.is_edited %}
                    Edytowany o {{ post.edited_at.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% endif %}
                </div>
                {% if not post.comments_allowed %}
                <button class="toggle-comments" data-post-id="{{ post.id }}">Komentarze ({{ post.comments|length }})</button>
                <div class="comments" id="comments-{{ post.id }}" style="display: none;">
                    {% for comment in post.post_comments %}
                        <div class="comment">
                            <div class="comment-header">
                                {% if comment.user.zdjecie_wskaznik == "basics/profile.png" %}
                                <img src="{{ url_for('static', filename='basics/profile.png') }}" alt="Default profile picture" class="profile-picture">
                                {% else %}
                                <img src="{{ url_for('static', filename='uploads/' + comment.user.zdjecie_wskaznik) }}" alt="{{ comment.user.nick }}'s profile picture" class="profile-picture">
                                {% endif %}
                                <p class="author-name">{{ comment.user.nick }}</p>
                            </div>
                            <p class="comment-content">{{ comment.text }}</p>
                        </div>
                    {% endfor %}
                        <form class="comment-form" data-post-id="{{ post.id }}">
                            <textarea name="comment-text" placeholder="Dodaj komentarz..." required></textarea>
                            <button type="submit">Wyślij</button>
                        </form>
                    </div>
                    {% else %}
                    <p style="color: red;" >Komentarze niedozwolone</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/hide-show-comments.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const reactionButtons = document.querySelectorAll('.reaction-btn');
        
            reactionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const postId = this.dataset.postId;
                    const reactionType = this.dataset.reactionType;
        
                    fetch(`/add_reaction/${postId}/${reactionType}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        updateReactionCounts(postId);
                    });
                });
            });
        
            function updateReactionCounts(postId) {
                fetch(`/get_reactions/${postId}`)
                .then(response => response.json())
                .then(data => {
                    for (const [reactionType, count] of Object.entries(data)) {
                        const countElement = document.getElementById(`count-${postId}-${reactionType}`);
                        if (countElement) {
                            countElement.textContent = count;
                        }
                    }
                });
            }
        
            document.querySelectorAll('.post').forEach(post => {
                const postId = post.querySelector('.reaction-btn').dataset.postId;
                updateReactionCounts(postId);
            });
        });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const commentForms = document.querySelectorAll('.comment-form');
                
                commentForms.forEach(form => {
                    form.addEventListener('submit', function(e) {
                        e.preventDefault();
                        
                        const postId = this.getAttribute('data-post-id');
                        const commentText = this.querySelector('textarea[name="comment-text"]').value;
                        
                        fetch(`/add_comment/${postId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `comment-text=${encodeURIComponent(commentText)}`
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === "OK") {
                                const toggleButton = document.querySelector(`.toggle-comments[data-post-id="${postId}"]`);
                                const currentCount = parseInt(toggleButton.textContent.match(/\d+/)[0]);
                                toggleButton.textContent = `Komentarze (${currentCount + 1})`;
                                
                                this.querySelector('textarea[name="comment-text"]').value = '';
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Wystąpił błąd podczas dodawania komentarza.');
                        });
                    });
                });
            });
        </script>
</body>
</html>